.canvasized{
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    width: auto;
}
.circle{
    grid-row: 1;
    grid-column: 1;
}
.circle:first-child{
    z-index: 2;
}
.percentage{
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}
